<html>
<body>
    <h1>Volun Chain</h1>
    <h4>[ /donate/group_id ] donate.html</h4>
    <p>
        Name : {{ info['name'] }}
    </p>
    <p>
        State : {{ info['state'] }}
    </p>
    <p>
        Type : {{ info['type'] }}
    </p>
    <p>
        Message : {{ info['message'] }}
    </p>
    <p>
        Comment : {{ info['comment'] }}
    </p>
    <p>
        History : {{ info['history'] }}
    </p>
    <form>
        <p>
            <label for="inputEth" class="sr-only">ETH</label>
            <input type="number" name="eth" id="inputEth" class="form-control" placeholder="eth" required>
        </p>
        <button type="submit">Donate!</button>
    </form>
    <a href="/home">Go Back</a>
</body>
</html>