<html>
<body>
    <script type="text/javascript">
        window.alert('Success to Join [ {{ event['activity'] }} ]');
        self.opener = self;
        window.close();
    </script>
</body>
</html>