{% extends "layout.html" %}
{% block content %}
    <script type="text/javascript">
        function getGroup(group_id, name){
            var req = new XMLHttpRequest();
            url = '/group?id=' + group_id;
            req.open('GET', url);
            req.send();

            req.onreadystatechange = function (e) {
              if (req.readyState === XMLHttpRequest.DONE) {
                if(req.status === 200) {
                  //console.log(req.responseText);
                  showGroup(req.responseText, name, group_id);
                } else {
                  console.log("Error!");
                }
              }
            };
        }
        function showGroup(text, name, group_id){
            var data = JSON.parse(text);
            console.log(data);
            var text = '<hr>';
            text += '<h2>' + name + '</h2>';
            text += '<p>Thumbnail : </br><img src="' + data.data.thumb + '"></br>' + data.data.thumb + '</p>';
            text += '<p>Message : ' + data.data.msg + '</p>';
            text += '<p>Comment : ' + data.data.comment + '</p>';
            text += '<p><a href="/donate/' + group_id + '">Donate!</a></p>';
            text += '<p>Event : </br>';
            for (var i = 0; i <  data.data.events.length; i++){
                //OOOO년 OO월 OO일 / 장소 / 봉사 활동 내용 / 0/10명 모집
                 text += (i+1) + ' : ' + data.data.events[i].startdate + '-' + data.data.events[i].enddate + ' / ' + data.data.events[i].state + ' / ' + data.data.events[i].activity + ' / ' + data.data.events[i].rdnum + '/' + data.data.events[i].rnum + '명 모집 / ' + data.data.events[i].note;
                 if (data.data.events[i].isactive){
                    text += ' <a href="/event/' + data.data.events[i].eid + '" target="_blank">Join</a></br>'
                 } else{
                    text += ' Finished</br>'
                 }
            }
            text += '</p>';

            text += '<p> Keyword : </br>';
            text += JSON.stringify(data.data.keywords);
            text += '</p>';

            text += '<p>Comments : </br>';
            for (var i = 0; i <  data.data.comments.length; i++){
                 text += '익명의봉사자' + (i+1) + ' (' + data.data.comments[i].level + ') : ' + data.data.comments[i].comment + '</br>';
            }
            text += '</p>';

            text += '<form action="/comment" method="post">\
                    <input type="hidden" name="code" value="' + group_id + '">\
                    <input type="hidden" name="name" value="{{ session['name'] }}">\
                    <input type="hidden" name="level" value="{{ session['level'] }}">\
                    <input type="hidden" name="address" value="{{ session['address'] }}">\
                    <p>\
                        <label for="inputComment" class="sr-only">URL</label>\
                        <input type="text" name="comment" id="inputComment" class="form-control" placeholder="comment" required>\
                    </p>\
                    <button type="submit">Comment!</button>\
                </form>';
            text += '<hr>';
            document.getElementById("content").innerHTML = text;
        }
    </script>
    <h1>Volun Chain</h1>
    <h4>[ /home ] home.html</h4>
    {% if session['type'] == 'p' %}
    <h1>Person home page</h1>
    <div id="content"></div>
    <form action="/group" method="post">
        <h1>Please Fill Form Inputs To Search Group</h1>
        <p>
          <label for="inputType" class="sr-only">Type</label>
          <input type="text" name="type" id="inputType" class="form-control" placeholder="type">
        </p>

        <p>
          <label for="inputState" class="sr-only">State</label>
          <input type="text" name="state" id="inputState" class="form-control" placeholder="state">
        </p>

        <p>
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" name="name" id="inputName" class="form-control" placeholder="name">
        </p>

        <button type="submit">Search</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>

    </form>
    {% if search %}
    {% for s in search %}
    <p>
        Thumb : {{ s['thumb'] }}</br>
        Type : {{ s['type'] }}</br>
        State : {{ s['state'] }}</br>
        Name : {{ s['name'] }}</br>
        View : <a href="javascript:getGroup('{{ s['code'] }}', '{{ s['name'] }}');">Click!</a></br>
    </p>
    {% endfor %}
    {% else %}
    <p>There is no search result</p>
    {% endif %}

    {% elif session['type'] == 'g' %}
    <h1>Group home page</h1>

    <h2>{{ session['name'] }}</h2>
    <p>Thumbnail : </br><img src="{{ group['thumb'] }}"></br>{{ group['thumb'] }}</p>
    <p>Message : {{ group['msg'] }}</p>
    <p>Comment : {{ group['comment'] }}</p>
    <p>Event : </br>
    {% for e in group['events'] %}
         {{ e['startdate'] }}-{{ e['enddate'] }} / {{ e['state'] }} / {{ e['activity'] }} / {{ e['rdnum'] }}/{{ e['rnum'] }} 명 모집 / {{ e['note'] }}
         <a href="/event/{{ e['eid'] }}" target="_blank">Edit</a></br>
    {% endfor %}
    </p>

    <p> Keyword : </br>
    {{ group['keywords'] }}
    </p>

    <p>Comments : </br>
    {% for c in group['comments'] %}
        익명의봉사자{{ loop.index0 + 1 }} ({{ c['level'] }}) : {{ c['comment'] }}</br>
        User Address : {{ c['address'] }}</br></br>
    {% endfor %}
    </p>
    <hr>
    {% else %}
    <h1>Who Are You?</h1>
    {% endif %}
{% endblock %}