<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    </head>
    <body>
        {% if session %}
        <p>Welcome {{ session['name'] }} ( {% if session['type'] == 'p' %}Person{% else %}Group{% endif %} )</p>
        <p><a href="/charge">Charge</a></p>
        <p><a href="/my_page">My Page</a></p>
        {% if session['type'] == 'g' %}<p><a href="/refund">Refund</a></p>{% endif %}
        <p><a href="/logout">Logout</a></p>

        {% endif %}
        <main role="main" class="container">
        {% block content %}
        {% endblock %}
        </main>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>