<html>
<body>
    <h1>Volun Chain</h1>
    <h4>[ /my_page ] my_page.html</h4>
    {% if session['type'] == 'p' %}
    <p>
        Name : {{ info['name'] }}
    </p>
    <p>
        Rank : {{ info['rank'] }}
    </p>
    <p>
        Wallet Address : {{ info['wallet'] }}
    </p>
    <p>
        ETH : {{ info['eth'] }}
    </p>
    {% else %}
    <p>
        Name : {{ info['name'] }}
    </p>
    <p>
        Wallet Address : {{ info['wallet'] }}
    </p>
    <p>
        ETH : {{ info['eth'] }}
    </p>
    <p>
        State : {{ info['state'] }}
    </p>
    <p>
        Type : {{ info['type'] }}
    </p>
    <p>
        Thumbnail : <img src="{{ info['thumb'] }}"></br>
        {{ info['thumb'] }}
    </p>
    <form action="/thumb" method="post">
        <input type="hidden" name="id" value="{{ info['code'] }}">
        <p>
            <label for="inputUrl" class="sr-only">URL</label>
            <input type="url" name="url" id="inputUrl" class="form-control" placeholder="url" required>
        </p>
        <button type="submit">Change!</button>
    </form>
    <p>
        Message : {{ info['msg'] }}
    </p>
    {% endif %}
    <a href="/home">OK!</a>
</body>
</html>