<html>
<body>
    <h1>Volun Chain</h1>
    <h4>[ /view_code ] view_code.html</h4>
    {% if codes %}
    <p>
        Seed : {{ codes['seed'] }}
    </p>
    <p>
        Wallet Address : {{ codes['wallet'] }}
    </p>
    <p>
        Private Key : {{ codes['private'] }}
    </p>
    {% else %}
    <h1>Wrong Access</h1>
    {% endif %}
    <a href="/signup/welcome">OK!</a>
</body>
</html>