{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /charge ] charge.html</h4>#}
{#    <a href="/home">OK!</a>#}
{#</body>#}
{#</html>#}
{% extends 'layout.html' %}
{% block content %}
    <iframe src="/static/html/charge_payment.html?{{ range(0,5000000)|random }}" style="height:calc(100% - 168px);width: 100%;border:0;"></iframe>
{% endblock %}