{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /donate/group_id ] donate.html</h4>#}
{#    <p>#}
{#        Name : {{ info['name'] }}#}
{#    </p>#}
{#    <p>#}
{#        State : {{ info['state'] }}#}
{#    </p>#}
{#    <p>#}
{#        Type : {{ info['type'] }}#}
{#    </p>#}
{#    <p>#}
{#        Message : {{ info['message'] }}#}
{#    </p>#}
{#    <p>#}
{#        Comment : {{ info['comment'] }}#}
{#    </p>#}
{#    <p>#}
{#        History : {{ info['history'] }}#}
{#    </p>#}
{#    <form>#}
{#        <p>#}
{#            <label for="inputEth" class="sr-only">ETH</label>#}
{#            <input type="number" name="eth" id="inputEth" class="form-control" placeholder="eth" required>#}
{#        </p>#}
{#        <button type="submit">Donate!</button>#}
{#    </form>#}
{#    <a href="/home">Go Back</a>#}
{#</body>#}
{#</html>#}
{% extends 'layout.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">이름</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ info['name'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">지역</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ info['state'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">분류</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ info['type'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">소갯말</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ info['message'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">대표 코멘트</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ info['comment'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">활동했던 인원</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ info['history'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">기부 금액</label>

                        <div class="col-sm-10">
                            <input id="eth" type="text" name="eth" class="form-control" placeholder="ETH" required>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    </form>


                    <button type="button" class="btn btn-info btn-single pull-right" onclick="alert('기부되었습니다.');jQuery('#eth').val('');">기부하기</button>


                </div>
            </div>

        </div>
    </div>
{% endblock %}