{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /event/event_id ] event_edit.html</h4>#}
{#    <form action="/signup" method="post">#}
{#        <h1>Please Fill Form Inputs</h1>#}
{#        # {'code':'SWJA7777', 'eid':'N1e6EzSe', 'startdate':'20180727', 'enddate':'20180829', 'rnum':'5', 'rdnum':'5', 'state':'수원시 장안구', 'activity':'2018년 경기도 블록체인 해커톤 참가 및 우승', 'note':'1등은 우리의 것', 'isactive':'false'},#}
{#        <input type="hidden" name="pg" value="g">#}
{#        <p>#}
{#            <label for="inputName" class="sr-only">Name</label>#}
{#            <input type="text" name="name" id="inputName" class="form-control" placeholder="name" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputID" class="sr-only">Code</label>#}
{#            <input type="text" name="id" id="inputID" class="form-control" placeholder="id" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputEmail" class="sr-only">E-mail</label>#}
{#            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email" value="123@123.com" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputMobile" class="sr-only">Mobile</label>#}
{#            <input type="text" name="mobile" id="inputMobile" class="form-control" placeholder="mobile" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputState" class="sr-only">State</label>#}
{#            <input type="text" name="state" id="inputState" class="form-control" placeholder="state" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputType" class="sr-only">Type</label>#}
{#            <input type="text" name="type" id="inputType" class="form-control" placeholder="type" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <a href="/term/1">Term1</a> Agree Term 1? <input type="checkbox" checked required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <a href="/term/2">Term2</a> Agree Term 2? <input type="checkbox" checked required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <a href="/term/3">Term3</a> Agree Term 3? <input type="checkbox" checked required>#}
{#        </p>#}
{##}
{##}
{#        <button type="submit">Sign up</button>#}
{##}
{#        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>#}
{##}
{#    </form>#}
{#</body>#}
{#</html>#}

{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /my_page ] my_page.html</h4>#}
{#    {% if session['type'] == 'p' %}#}
{#    <p>#}
{#        Name : {{ info['name'] }}#}
{#    </p>#}
{#    <p>#}
{#        Rank : {{ info['rank'] }}#}
{#    </p>#}
{#    <p>#}
{#        Wallet Address : {{ info['wallet'] }}#}
{#    </p>#}
{#    <p>#}
{#        ETH : {{ info['eth'] }}#}
{#    </p>#}
{#    {% else %}#}
{#    <p>#}
{#        Name : {{ info['name'] }}#}
{#    </p>#}
{#    <p>#}
{#        Wallet Address : {{ info['wallet'] }}#}
{#    </p>#}
{#    <p>#}
{#        ETH : {{ info['eth'] }}#}
{#    </p>#}
{#    <p>#}
{#        State : {{ info['state'] }}#}
{#    </p>#}
{#    <p>#}
{#        Type : {{ info['type'] }}#}
{#    </p>#}
{#    <p>#}
{#        Thumbnail : <img src="{{ info['thumb'] }}"></br>#}
{#        {{ info['thumb'] }}#}
{#    </p>#}
{#    <form action="/thumb" method="post">#}
{#        <input type="hidden" name="id" value="{{ info['code'] }}">#}
{#        <p>#}
{#            <label for="inputUrl" class="sr-only">URL</label>#}
{#            <input type="url" name="url" id="inputUrl" class="form-control" placeholder="url" required>#}
{#        </p>#}
{#        <button type="submit">Change!</button>#}
{#    </form>#}
{#    <p>#}
{#        Message : {{ info['msg'] }}#}
{#    </p>#}
{#    {% endif %}#}
{#    <a href="/home">OK!</a>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="/thumb" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">시작일</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <input type="text" name="startdate" class="form-control" value="{{ event['startdate'] }}" required>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">마감일</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <input type="text" name="enddate" class="form-control" value="{{ event['enddate'] }}" required>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">신청 인원</label>

                       <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <input type="text" name="rdnum" class="form-control" value="{{ event['rdnum'] }}" required>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">모집 인원</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <input type="text" name="rnum" class="form-control" value="{{ event['rnum'] }}" required>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">지역</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <input type="text" name="state" class="form-control" value="{{ event['state'] }}" required>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">활동 내용</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <input type="text" name="activity" class="form-control" value="{{ event['activity'] }}" required>
                        </div>
                    </div>

                     <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">비고</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <input type="text" name="note" class="form-control" value="{{ event['note'] }}" required>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <button type="button" class="btn btn-info btn-single pull-right" onclick="alert('변경되었습니다.');">변경하기</button>


                </div>
            </div>

        </div>
    </div>
{% endblock %}