{% extends "layout.html" %}
{% block content %}
    <script type="text/javascript">
        function upComment(group_id,name) {
            comment = $("#comment-textarea").val();

            if(comment == '') {
                alert('코멘트를 입력해주세요.');
            } else {
                $("#comment-textarea").val("");
                var req = new XMLHttpRequest();
                url = '/comment';
                req.open('POST',url, true);
                req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                var req_text = 'code='+group_id+'&name='+name+'&comment='+comment+'&address={{ session['address'] }}&level={{ session['level'] }}';
                req.send(req_text);

                req.onreadystatechange = function(e) {
                    if (req.readyState === XMLHttpRequest.DONE) {
                    if(req.status === 200) {
                      //console.log(req.responseText);
                      getGroup(group_id, name);
                    } else {
                      console.log("Error!");
                    }
                  }
                };
            }
        }
        function getGroup(group_id, name){
            var req = new XMLHttpRequest();
            url = '/group?id=' + group_id;
            req.open('GET', url);
            req.send();

            req.onreadystatechange = function (e) {
              if (req.readyState === XMLHttpRequest.DONE) {
                if(req.status === 200) {
                  //console.log(req.responseText);
                  showGroup(req.responseText, name, group_id);
                } else {
                  console.log("Error!");
                }
              }
            };
        }
        function showGroup(text, name, group_id){
            var data = JSON.parse(text);
            console.log(data);

            jQuery("#modal-name").html(name);
            jQuery("#modal-thumb").attr("src", data.data.thumb)
            jQuery("#modal-msg").html(data.data.msg);
            jQuery("#modal-donate-btn").attr("href","/donate/"+group_id);
            jQuery("#modal-comment").html(data.data.comment);

            // Create items array
            var items = Object.keys(data.data.keywords).map(function(key) {
              return [key, data.data.keywords[key]];
            });

            // Sort the array based on the second element
            items.sort(function(first, second) {
              return second[1] - first[1];
            });

            var keywords = ""
            for(var i=0;i<items.length;i++) {
                keywords+="#";
                keywords+=items[i][0];
                keywords+="&nbsp&nbsp";
            }

            jQuery("#modal-keyword").html(keywords);

            var events = '';
            for(var i=0;i<data.data.events.length;i++) {
                var event = '<tr>';
                event += '<td class="user-name">';
                event += data.data.events[i].startdate + '-' + data.data.events[i].enddate;
                event += '</td><td class="user-name">';
                event += data.data.events[i].state;
                event += '</td><td class="user-name">';
                event += data.data.events[i].activity;
                event += '</td><td class="user-name">';
                event += data.data.events[i].rdnum + '/' + data.data.events[i].rnum+'명 모집';
                event += '</td><td class="user-id">';
                event += data.data.events[i].note;

                if(data.data.events[i].isactive) {
                    event += '</td><td class="action-links"><a href="/event/'+data.data.events[i].eid+'"target="_blank" class="edit"><i class="linecons-pencil"></i>신청하기</a></td></tr>';
                } else {
                    event += '</td><td class="action-links"><a style="pointer-events: none; cursor: default;" href="#" class="delete"><i class="linecons-lock"></i>마감</a></td></tr>';
                }

                events += event;
            }

            jQuery("#modal-event").html(events);

            var comments = '';
            for(var i=0;i<data.data.comments.length;i++) {
                var comment = '<li><time class="cbp_tmtime"><span>익명의봉사자'+(i+1)+'</span> <span>Lev.'+data.data.comments[i].level+'</span></time>';
                comment += '<div class="cbp_tmicon timeline-bg-primary"><i class="fa-user"></i></div><div class="cbp_tmlabel"><p>';
                comment += data.data.comments[i].comment;
                comment += '</p></div></li>';
                comments += comment;
            }

            console.log(comments);

            jQuery("#modal-comment-bot").html(comments);


            jQuery("#modal-group-id").attr("value",group_id);

            jQuery("#comment-bot-btn").attr("onclick", "upComment('"+group_id+"','{{ session['name'] }}');");

            {#var text = '<hr>';#}
            {#text += '<h2>' + name + '</h2>';#}
            {#text += '<p>Thumbnail : </br><img src="' + data.data.thumb + '"></br>' + data.data.thumb + '</p>';#}
            {#text += '<p>Message : ' + data.data.msg + '</p>';#}
            {#text += '<p>Comment : ' + data.data.comment + '</p>';#}
            {#text += '<p><a href="/donate/' + group_id + '">Donate!</a></p>';#}
            {#text += '<p>Event : </br>';#}
            {#for (var i = 0; i <  data.data.events.length; i++){#}
            {#    //OOOO년 OO월 OO일 / 장소 / 봉사 활동 내용 / 0/10명 모집#}
            {#     text += i + ' : ' + data.data.events[i].startdate + '-' + data.data.events[i].enddate + ' / ' + data.data.events[i].state + ' / ' + data.data.events[i].activity + ' / ' + data.data.events[i].rdnum + '/' + data.data.events[i].rnum + '명 모집 / ' + data.data.events[i].note;#}
            {#     text += ' <a href="/event/' + data.data.events[i].eid + '" target="_blank">Join</a></br>'#}
            {# }#}
            {#text += '</p>';#}
            {##}
            {#text += '<p> Keyword : </br>';#}
            {#text += JSON.stringify(data.data.keywords);#}
            {#text += '</p>';#}
            {##}
            {#text += '<p>Comments : </br>';#}
            {#for (var i = 0; i <  data.data.comments.length; i++){#}
            {#     text += i + ' : ' + data.data.comments[i].comment + '</br>';#}
            {# }#}
            {#text += '</p>';#}
            {##}
            {#text += '<form action="/comment" method="post">\#}
            {#        <input type="hidden" name="code" value="' + group_id + '">\#}
            {#        <input type="hidden" name="name" value="{{ session['name'] }}">\#}
            {#        <p>\#}
            {#            <label for="inputComment" class="sr-only">URL</label>\#}
            {#            <input type="text" name="comment" id="inputComment" class="form-control" placeholder="comment" required>\#}
            {#        </p>\#}
            {#        <button type="submit">Comment!</button>\#}
            {#    </form>';#}
            {#text += '<hr>';#}
            {#document.getElementById("modal-content").innerHTML = text;#}
        }
    </script>
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /home ] home.html</h4>#}
{#    {% if session['type'] == 'p' %}#}
{#    <h1>Person home page</h1>#}
{#    <div id="content"></div>#}
{#    <form action="/group" method="post">#}
{#        <h1>Please Fill Form Inputs To Search Group</h1>#}
{#        <p>#}
{#          <label for="inputType" class="sr-only">Type</label>#}
{#          <input type="text" name="type" id="inputType" class="form-control" placeholder="type">#}
{#        </p>#}
{##}
{#        <p>#}
{#          <label for="inputState" class="sr-only">State</label>#}
{#          <input type="text" name="state" id="inputState" class="form-control" placeholder="state">#}
{#        </p>#}
{##}
{#        <p>#}
{#          <label for="inputName" class="sr-only">Name</label>#}
{#          <input type="text" name="name" id="inputName" class="form-control" placeholder="name">#}
{#        </p>#}
{##}
{#        <button type="submit">Search</button>#}
{##}
{#        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>#}
{##}
{#    </form>#}
{#    {% if search %}#}
{#    {% for s in search %}#}
{#    <p>#}
{#        Thumb : {{ s['thumb'] }}</br>#}
{#        Type : {{ s['type'] }}</br>#}
{#        State : {{ s['state'] }}</br>#}
{#        Name : {{ s['name'] }}</br>#}
{#        View : <a href="javascript:getGroup('{{ s['code'] }}', '{{ s['name'] }}');">Click!</a></br>#}
{#    </p>#}
{#    {% endfor %}#}
{#    {% else %}#}
{#    <p>There is no search result</p>#}
{#    {% endif %}#}
{##}
{#    {% elif session['type'] == 'g' %}#}
{#    <h1>Group home page</h1>#}
{##}
{#    <h2>{{ session['name'] }}</h2>#}
{#    <p>Thumbnail : </br><img src="{{ group['thumb'] }}"></br>{{ group['thumb'] }}</p>#}
{#    <p>Message : {{ group['msg'] }}</p>#}
{#    <p>Comment : {{ group['comment'] }}</p>#}
{#    <p>Event : </br>#}
{#    {% for e in group['events'] %}#}
{#         {{ e['startdate'] }}-{{ e['enddate'] }} / {{ e['state'] }} / {{ e['activity'] }} / {{ e['rdnum'] }}/{{ e['rnum'] }} 명 모집 / {{ e['note'] }}#}
{#         <a href="/event/{{ e['eid'] }}" target="_blank">Edit</a></br>#}
{#    {% endfor %}#}
{#    </p>#}
{##}
{#    <p> Keyword : </br>#}
{#    {{ group['keywords'] }}#}
{#    </p>#}
{##}
{#    <p>Comments : </br>#}
{#    {% for c in group['comments'] %}#}
{#        {{ c['comment'] }}</br>#}
{#    {% endfor %}#}
{#    </p>#}
{#    <hr>#}
{#    {% else %}#}
{#    <h1>Who Are You?</h1>#}
{#    {% endif %}#}
    <style>
        th{
            text-align: center;
        }
    </style>
    {% if session['type'] == 'p' %}
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Fill Form Inputs To Search Group</h3>
                </div>
                <div class="panel-body">

                    <form role="form" class="form-horizontal" action="/group" method="post">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">분류</label>

                            <div class="col-sm-10">
                                <input type="text" name="type" class="form-control">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">지역</label>

                            <div class="col-sm-10">
                                <input type="text" name="state" class="form-control">
                            </div>
                        </div>

                        <div class="form-group-separator"></div><div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">이름</label>

                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-single pull-right">Search</button>

                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="row">

				<div class="col-md-12">

					<ul class="nav nav-tabs">

					</ul>

					<div class="tab-content" style="text-align: center;">
						<div class="tab-pane active" id="all">

							<table class="table table-hover members-table middle-align">
								<thead>
									<tr >
										<th></th>
										<th>분류</th>
										<th>지역</th>
										<th>단체명</th>
									</tr>
								</thead>
								<tbody>
                                {% if search %}
                                {% for s in search %}
									<tr style="cursor:pointer" onclick="getGroup('{{ s['code'] }}', '{{ s['name'] }}');jQuery('#modal-6').modal('show', {backdrop: 'static'});">
										<td class="user-image">
                                            <img src="{{ s['thumb'] }}" class="img-circle" alt="user-pic">
										</td>
										<td class="user-id">
											{{ s['type'] }}
										</td>
										<td class="user-id">
											{{ s['state'] }}
										</td>
										<td class="user-name">
											{{ s['name'] }}
										</td>
									</tr>
                                {% endfor %}
                                {% endif %}
								</tbody>
							</table>

							<div class="row">
								<div class="col-sm-12">

								</div>
							</div>

						</div>
					</div>

				</div>
                </div>

    <div class="modal fade custom-width" id="modal-6">
		<div class="modal-dialog" style="width: 96%">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modal-name">Name</h4>
				</div>

				<div class="modal-body">

                    <div class="row">
                        <div class="member-form-add-header col-sm-9" style="margin-bottom:20px;">
                            <div class="user-img">
                                <img id="modal-thumb" width="80px" height="80px" src="/static/assets/images/user-4.png" class="img-circle" alt="user-pic">
                            </div>
                            <div class="user-name" style="width: calc(100% - 100px);">
                                <div class="scrollable ps-container ps-active-y" data-max-height="400" style="max-height: 400px;">
                                    <p></p>
                                    <p style="color:black" id="modal-msg">Message</p>
							<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -1190px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 1193px; height: 400px; right: 2px;"><div class="ps-scrollbar-y" style="top: 300px; height: 100px;"></div></div></div>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top: 21.5px;">
                            <a id="modal-donate-btn" href="/donate/group_id">
                                <button type="button" class="btn btn-warning btn-icon pull-right">
									<i class="fa-rocket"></i>
									<span>기부하기</span>
                                </button>
                            </a>
                        </div>
                    </div>

					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-12">

							<div class="form-group">

								<div class="col-sm-12" style="color:black;text-align:center;">
                                    <h3 id="modal-comment">comment</h3>
                                </div>
							</div>
                            <div class="form-group">

								<div class="col-sm-12" style="color:black;text-align:center;">
                                    <h4 id="modal-keyword">#tag1&nbsp&nbsp#tag2&nbsp&nbsp</h4>
                                </div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-md-12">

							<div class="form-group">
                                <div class="col-md-12">

					<ul class="nav nav-tabs">

					</ul>

					<div class="tab-content" style="text-align: center;">
						<div class="tab-pane active" id="all">

							<table class="table table-hover members-table middle-align">
								<thead>
									<tr >
										<th>기간</th>
										<th>지역</th>
										<th>봉사 활동 내용</th>
										<th>모집 인원</th>
                                        <th>비고</th>
                                        <th></th>
									</tr>
								</thead>
								<tbody id="modal-event">
									<tr>
										<td class="user-name">
											기간
										</td>
										<td class="user-name">
											지역
										</td>
										<td class="user-name">
											봉사 활동 내용
										</td>
                                        <td class="user-name">
											모집 내용
										</td>
                                        <td class="user-id">
											비고
										</td>
                                        <td class="action-links">
                                            <a href="#" class="edit">
												<i class="linecons-pencil"></i>
												신청하기
											</a>
                                        </td>
									</tr>
								</tbody>
							</table>

							<div class="row">
								<div class="col-sm-12">

								</div>
							</div>

						</div>
					</div>

				</div>
							</div>

						</div>
					</div>
                <div clsss="row" style="background-color:rgb(238,238,238); padding-top:20px;padding-bottom: 20px;padding-right: 20px;">
                    <ul class="cbp_tmtimeline" id="modal-comment-bot">
                            <li>
                                <time class="cbp_tmtime"><span>익명의봉사자1</span> <span>Lev.1</span></time>
                                <div class="cbp_tmicon timeline-bg-primary">
                                    <i class="fa-user"></i>
                                </div>
                                <div class="cbp_tmlabel">
                                    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                                </div>
                            </li>

                        </ul>
                    <div class="panel-body" style="text-align:right;padding-right:0">
                        <form action="/comment" method="post">
                            <input type="hidden" name="code" value="group_id" id="modal-group-id">
                            <input type="hidden" name="name" value="{{ session['name'] }}">
                            <div class="col-sm-12" style="margin-bottom: 15px;padding-right:0">
                                <div class="col-sm-10 pull-right" style="padding-right:0">
                                <textarea id="comment-textarea" class="form-control" cols="5" id="field-5" name="comment" placeholder="comment" required></textarea>
                            </div>
                            </div>

                            <div class="pull-right">
                                <button id="comment-bot-btn" onclick="" type="button" class="btn btn-blue">comment</button>
                            </div>
                        </form>
                    </div>

                </div>



				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

    {% elif session['type'] == 'g' %}
			<div class="panel panel-default">

				<div class="modal-header">
					<h4 class="modal-title" id="modal-name">{{ session['name'] }}</h4>
				</div>

				<div class="modal-body">

                    <div class="row">
                        <div class="member-form-add-header col-sm-12" style="margin-bottom:20px;">
                            <div class="user-img">
                                <img id="modal-thumb" width="80px" height="80px" src="{{ group['thumb'] }}" class="img-circle" alt="user-pic">
                            </div>
                            <div class="user-name" style="width: calc(100% - 100px);">
                                <div class="scrollable ps-container ps-active-y" data-max-height="400" style="max-height: 400px;">
                                    <p></p>
                                    <p style="color:black" id="modal-msg">{{ group['msg'] }}</p>
							<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -1190px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 1193px; height: 400px; right: 2px;"><div class="ps-scrollbar-y" style="top: 300px; height: 100px;"></div></div></div>
                            </div>
                        </div>

                    </div>

					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-12">

							<div class="form-group">

								<div class="col-sm-12" style="color:black;text-align:center;">
                                    <h3 id="modal-comment">{{ group['comment'] }}</h3>
                                </div>
							</div>
                            <div class="form-group">

								<div class="col-sm-12" style="color:black;text-align:center;">
                                    <h4 id="modal-keyword"">
                                        {% for k in group['keywords']|dictsort(false, "value", reverse=true) %}
                                            #{{ k[0] }}&nbsp&nbsp
                                        {% endfor %}
                                    </h4>
                                </div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-md-12">

							<div class="form-group">
                                <div class="col-md-12">

					<ul class="nav nav-tabs">

					</ul>

					<div class="tab-content" style="text-align: center;">
						<div class="tab-pane active" id="all">

							<table class="table table-hover members-table middle-align">
								<thead>
									<tr >
										<th>기간</th>
										<th>지역</th>
										<th>봉사 활동 내용</th>
										<th>모집 인원</th>
                                        <th>비고</th>
                                        <th></th>
									</tr>
								</thead>
								<tbody id="modal-event">
                                {% for e in group['events'] %}
									<tr>
										<td class="user-name">
                                            {{ e['startdate'] }}-{{ e['enddate'] }}
										</td>
										<td class="user-name">
                                            {{ e['state'] }}
										</td>
										<td class="user-name">
											{{ e['activity'] }}
										</td>
                                        <td class="user-name">
											{{ e['rdnum'] }}/{{ e['rnum'] }} 명 모집
										</td>
                                        <td class="user-id">
											{{ e['note'] }}
										</td>
                                        <td class="action-links">
                                            <a href="/event/{{ e['eid'] }}" class="edit">
												<i class="linecons-pencil"></i>
												edit
											</a>
                                        </td>
									</tr>
                                {% endfor %}
								</tbody>
							</table>

							<div class="row">
								<div class="col-sm-12">

								</div>
							</div>

						</div>
					</div>

				</div>
							</div>

						</div>
					</div>
                <div clsss="row" style="background-color:rgb(238,238,238); padding-top:20px;padding-bottom: 20px;padding-right: 20px;">
                    <ul class="cbp_tmtimeline" id="modal-comment-bot">
                            {% for c in group['comments'] %}
                            <li>
                                <time class="cbp_tmtime"><span>익명의봉사자1</span> <span>Lev.1<br>addr: {{ c['address'] }}</span></time>
                                <div class="cbp_tmicon timeline-bg-primary">
                                    <i class="fa-user"></i>
                                </div>
                                <div class="cbp_tmlabel">
                                    <p>{{ c['comment'] }}</p>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>

                </div>



				</div>
			</div>
    {% endif %}
{% endblock %}

{#{% extends "layout.html" %}#}
{#{% block content %}#}
{#    <script type="text/javascript">#}
{#        function getGroup(group_id, name){#}
{#            var req = new XMLHttpRequest();#}
{#            url = '/group?id=' + group_id;#}
{#            req.open('GET', url);#}
{#            req.send();#}
{##}
{#            req.onreadystatechange = function (e) {#}
{#              if (req.readyState === XMLHttpRequest.DONE) {#}
{#                if(req.status === 200) {#}
{#                  //console.log(req.responseText);#}
{#                  showGroup(req.responseText, name, group_id);#}
{#                } else {#}
{#                  console.log("Error!");#}
{#                }#}
{#              }#}
{#            };#}
{#        }#}
{#        function showGroup(text, name, group_id){#}
{#            var data = JSON.parse(text);#}
{#            console.log(data);#}
{#            var text = '<hr>';#}
{#            text += '<h2>' + name + '</h2>';#}
{#            text += '<p>Thumbnail : </br><img src="' + data.data.thumb + '"></br>' + data.data.thumb + '</p>';#}
{#            text += '<p>Message : ' + data.data.msg + '</p>';#}
{#            text += '<p>Comment : ' + data.data.comment + '</p>';#}
{#            text += '<p><a href="/donate/' + group_id + '">Donate!</a></p>';#}
{#            text += '<p>Event : </br>';#}
{#            for (var i = 0; i <  data.data.events.length; i++){#}
{#                //OOOO년 OO월 OO일 / 장소 / 봉사 활동 내용 / 0/10명 모집#}
{#                 text += (i+1) + ' : ' + data.data.events[i].startdate + '-' + data.data.events[i].enddate + ' / ' + data.data.events[i].state + ' / ' + data.data.events[i].activity + ' / ' + data.data.events[i].rdnum + '/' + data.data.events[i].rnum + '명 모집 / ' + data.data.events[i].note;#}
{#                 if (data.data.events[i].isactive){#}
{#                    text += ' <a href="/event/' + data.data.events[i].eid + '" target="_blank">Join</a></br>'#}
{#                 } else{#}
{#                    text += ' Finished</br>'#}
{#                 }#}
{#            }#}
{#            text += '</p>';#}
{##}
{#            text += '<p> Keyword : </br>';#}
{#            text += JSON.stringify(data.data.keywords);#}
{#            text += '</p>';#}
{##}
{#            text += '<p>Comments : </br>';#}
{#            for (var i = 0; i <  data.data.comments.length; i++){#}
{#                 text += '익명의봉사자' + (i+1) + ' (' + data.data.comments[i].level + ') : ' + data.data.comments[i].comment + '</br>';#}
{#            }#}
{#            text += '</p>';#}
{##}
{#            text += '<form action="/comment" method="post">\#}
{#                    <input type="hidden" name="code" value="' + group_id + '">\#}
{#                    <input type="hidden" name="name" value="{{ session['name'] }}">\#}
{#                    <input type="hidden" name="level" value="{{ session['level'] }}">\#}
{#                    <input type="hidden" name="address" value="{{ session['address'] }}">\#}
{#                    <p>\#}
{#                        <label for="inputComment" class="sr-only">URL</label>\#}
{#                        <input type="text" name="comment" id="inputComment" class="form-control" placeholder="comment" required>\#}
{#                    </p>\#}
{#                    <button type="submit">Comment!</button>\#}
{#                </form>';#}
{#            text += '<hr>';#}
{#            document.getElementById("content").innerHTML = text;#}
{#        }#}
{#    </script>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /home ] home.html</h4>#}
{#    {% if session['type'] == 'p' %}#}
{#    <h1>Person home page</h1>#}
{#    <div id="content"></div>#}
{#    <form action="/group" method="post">#}
{#        <h1>Please Fill Form Inputs To Search Group</h1>#}
{#        <p>#}
{#          <label for="inputType" class="sr-only">Type</label>#}
{#          <input type="text" name="type" id="inputType" class="form-control" placeholder="type">#}
{#        </p>#}
{##}
{#        <p>#}
{#          <label for="inputState" class="sr-only">State</label>#}
{#          <input type="text" name="state" id="inputState" class="form-control" placeholder="state">#}
{#        </p>#}
{##}
{#        <p>#}
{#          <label for="inputName" class="sr-only">Name</label>#}
{#          <input type="text" name="name" id="inputName" class="form-control" placeholder="name">#}
{#        </p>#}
{##}
{#        <button type="submit">Search</button>#}
{##}
{#        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>#}
{##}
{#    </form>#}
{#    {% if search %}#}
{#    {% for s in search %}#}
{#    <p>#}
{#        Thumb : {{ s['thumb'] }}</br>#}
{#        Type : {{ s['type'] }}</br>#}
{#        State : {{ s['state'] }}</br>#}
{#        Name : {{ s['name'] }}</br>#}
{#        View : <a href="javascript:getGroup('{{ s['code'] }}', '{{ s['name'] }}');">Click!</a></br>#}
{#    </p>#}
{#    {% endfor %}#}
{#    {% else %}#}
{#    <p>There is no search result</p>#}
{#    {% endif %}#}
{##}
{#    {% elif session['type'] == 'g' %}#}
{#    <h1>Group home page</h1>#}
{##}
{#    <h2>{{ session['name'] }}</h2>#}
{#    <p>Thumbnail : </br><img src="{{ group['thumb'] }}"></br>{{ group['thumb'] }}</p>#}
{#    <p>Message : {{ group['msg'] }}</p>#}
{#    <p>Comment : {{ group['comment'] }}</p>#}
{#    <p>Event : </br>#}
{#    {% for e in group['events'] %}#}
{#         {{ e['startdate'] }}-{{ e['enddate'] }} / {{ e['state'] }} / {{ e['activity'] }} / {{ e['rdnum'] }}/{{ e['rnum'] }} 명 모집 / {{ e['note'] }}#}
{#         <a href="/event/{{ e['eid'] }}" target="_blank">Edit</a></br>#}
{#    {% endfor %}#}
{#    </p>#}
{##}
{#    <p> Keyword : </br>#}
{#    {{ group['keywords'] }}#}
{#    </p>#}
{##}
{#    <p>Comments : </br>#}
{#    {% for c in group['comments'] %}#}
{#        익명의봉사자{{ loop.index0 + 1 }} ({{ c['level'] }}) : {{ c['comment'] }}</br>#}
{#        User Address : {{ c['address'] }}</br></br>#}
{#    {% endfor %}#}
{#    </p>#}
{#    <hr>#}
{#    {% else %}#}
{#    <h1>Who Are You?</h1>#}
{#    {% endif %}#}
{#{% endblock %}#}