<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="VolunChain" />
	<meta name="author" content="" />

	<title>VolunChain</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="/static/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/static/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/static/assets/css/xenon-core.css">
	<link rel="stylesheet" href="/static/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/static/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/static/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/static/assets/css/custom.css">

	<script src="/static/assets/js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed">

			<div class="sidebar-menu-inner">

				<header class="logo-env">

					<!-- logo -->
					<div class="logo">
						<a href="/" class="logo-expanded">
                            <h3 style="color:white;">VolunChain</h3>
						</a>
					</div>


				</header>



				<ul id="main-menu" class="main-menu">
                    {% if session %}
                    <li>
                        <a href="/charge">
                            <span class="title">Charge</span>
                        </a>
                    </li>
                    {% if session['type'] == 'g' %}
                    <li>
                        <a href="/refund">
                            <span class="title">Refund</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/logout">
                            <span class="title">Logout</span>
                        </a>
                    </li>
                    {% endif %}


					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
{#					<li>#}
{#						<a href="dashboard-1.html">#}
{#							<i class="linecons-cog"></i>#}
{#							<span class="title">Dashboard</span>#}
{#						</a>#}
{#						<ul>#}
{#							<li>#}
{#								<a href="dashboard-1.html">#}
{#									<span class="title">Dashboard 1</span>#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="dashboard-2.html">#}
{#									<span class="title">Dashboard 2</span>#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="dashboard-3.html">#}
{#									<span class="title">Dashboard 3</span>#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="dashboard-4.html">#}
{#									<span class="title">Dashboard 4</span>#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="skin-generator.html">#}
{#									<span class="title">Skin Generator</span>#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="update-highlights.html">#}
{#									<span class="title">Update Highlights</span>#}
{#									<span class="label label-pink pull-right hidden-collapsed">v1.3</span>#}
{#								</a>#}
{#							</li>#}
{#						</ul>#}
{#					</li>#}

				</ul>

			</div>

		</div>

		<div class="main-content">
                <nav class="navbar user-info-navbar"  role="navigation"><!-- User Info, Notifications and Menu Bar -->

                    <!-- Left links for user info navbar -->
                    <ul class="user-info-menu left-links list-inline list-unstyled">

                        <li class="hidden-sm hidden-xs">
                            <a href="#" data-toggle="sidebar">
                                <i class="fa-bars"></i>
                            </a>
                        </li>

                    </ul>

                    <!-- Right links for user info navbar -->
                {% if session %}
                    <ul class="user-info-menu right-links list-inline list-unstyled">


                        <li class="user-profile">
                            <a href="/my_page" class="dropdown-toggle">
                                <img src="/static/assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                                <span>
                                    {{ session['name'] }} ( {% if session['type'] == 'p' %}Person{% else %}Group{% endif %} )
                                </span>
                            </a>


                        </li>
                    </ul>
                    {% endif %}
                    </nav>


            {% block content %}
            {% endblock %}

			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">

				<div class="footer-inner">

					<!-- Add your copyright text here -->
					<div class="footer-text">
						&copy; 2018
						<strong>일석이조</strong>
                        by Ian_Nharu
					</div>


					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">

						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>

					</div>

				</div>

			</footer>
		</div>


	</div>

	<!-- Page Loading Overlay -->
	<div class="page-loading-overlay">
		<div class="loader-2"></div>
	</div>




	<!-- Bottom Scripts -->
	<script src="/static/assets/js/bootstrap.min.js"></script>
	<script src="/static/assets/js/TweenMax.min.js"></script>
	<script src="/static/assets/js/resizeable.js"></script>
	<script src="/static/assets/js/joinable.js"></script>
	<script src="/static/assets/js/xenon-api.js"></script>
	<script src="/static/assets/js/xenon-toggles.js"></script>


	<!-- Imported scripts on this page -->
	<script src="/static/assets/js/xenon-widgets.js"></script>
{#	<script src="/static/assets/js/devexpress-web-14.1/js/globalize.min.js"></script>#}
{#	<script src="/static/assets/js/devexpress-web-14.1/js/dx.chartjs.js"></script>#}
	<script src="/static/assets/js/toastr/toastr.min.js"></script>
    <script src="/static/assets/js/jquery-validate/jquery.validate.min.js"></script>



	<!-- JavaScripts initializations and stuff -->
	<script src="/static/assets/js/xenon-custom.js"></script>

</body>
</html>