{% extends 'layout.html' %}
{% block content %}
    <div class="login-container login-page login-light" style="padding-top:10px;">

		<div class="row">

			<div style="width: 60%;margin-left: auto;margin-right: auto">

				<script type="text/javascript">
					jQuery(document).ready(function($)
					{
						// Reveal Login form
						setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


						// Validation and Ajax action
						$("form#login").validate({
							rules: {
								username: {
									required: true
								},

								passwd: {
									required: true
								}
							},

							messages: {
								username: {
									required: 'Please enter your username.'
								},

								passwd: {
									required: 'Please enter your password.'
								}
							},


						});

						// Set Form focus
						$("form#login .form-group:has(.form-control):first .form-control").focus();
					});
				</script>

				<!-- Errors container -->
				<div class="errors-container">


				</div>

				<!-- Add class "fade-in-effect" for login form effect -->
				<form method="post" role="form" id="login" class="login-form fade-in-effect" action="/signin">

					<div class="login-header" style="color:black; text-align:center">
                        <h3>VolunChain</h3>
                        <p>Please sign in</p>
					</div>


					<div class="form-group">
						<label class="control-label" for="username">Private Key</label>
                        <input type=hidden name="type" id="type" value="LOGIN"/>
						<input type="text" class="form-control" name="key" id="key" autocomplete="on" required autofocus/>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-dark  btn-block text-left">
							<i class="fa-lock"></i>
							Sign in
						</button>
{#                        <button type="submit" class="btn btn-dark  btn-block text-left">#}
{#							<i class="fa-lock"></i>#}
{#							Sign up#}
{#						</button>#}
					</div>

					<div class="login-footer">
                        <a href="/signup">Sign up</a>
                        <div></div>
						<a href="/lost_pw">Lost Password</a>
					</div>

				</form>

			</div>

		</div>

	</div>
{% endblock %}