{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /lost_pw ] lost_pw.html</h4>#}
{#    <form action="/lostpw" method="post">#}
{#        <h1>Please Fill Form Input</h1>#}
{#        <p>#}
{#            <label for="inputSeed" class="sr-only">Seed</label>#}
{#            <input type="text" name="seed" id="inputSeed" class="form-control" placeholder="seed" required autofocus>#}
{#        </p>#}
{#        <p>#}
{#            <label for="inputEmail" class="sr-only">E-mail</label>#}
{#            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email" required>#}
{#        </p>#}
{#        <button type="submit">Find It! </button>#}
{##}
{#        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>#}
{##}
{#    </form>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Fill Form Inputs</h3>
                </div>
                <div class="panel-body">

                    <form role="form" class="form-horizontal" action="/lostpw" method="post">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Seed</label>

                            <div class="col-sm-10">
                                <input type="text" name="seed" class="form-control" required autofocus>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">E-mail</label>

                            <div class="col-sm-10">
                                <input type="text" name="email" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <button type="submit" class="btn btn-info btn-single pull-right">Find It!</button>

                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}