{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /my_page ] my_page.html</h4>#}
{#    {% if session['type'] == 'p' %}#}
{#    <p>#}
{#        Name : {{ info['name'] }}#}
{#    </p>#}
{#    <p>#}
{#        Rank : {{ info['rank'] }}#}
{#    </p>#}
{#    <p>#}
{#        Wallet Address : {{ info['wallet'] }}#}
{#    </p>#}
{#    <p>#}
{#        ETH : {{ info['eth'] }}#}
{#    </p>#}
{#    {% else %}#}
{#    <p>#}
{#        Name : {{ info['name'] }}#}
{#    </p>#}
{#    <p>#}
{#        Wallet Address : {{ info['wallet'] }}#}
{#    </p>#}
{#    <p>#}
{#        ETH : {{ info['eth'] }}#}
{#    </p>#}
{#    <p>#}
{#        State : {{ info['state'] }}#}
{#    </p>#}
{#    <p>#}
{#        Type : {{ info['type'] }}#}
{#    </p>#}
{#    <p>#}
{#        Thumbnail : <img src="{{ info['thumb'] }}"></br>#}
{#        {{ info['thumb'] }}#}
{#    </p>#}
{#    <form action="/thumb" method="post">#}
{#        <input type="hidden" name="id" value="{{ info['code'] }}">#}
{#        <p>#}
{#            <label for="inputUrl" class="sr-only">URL</label>#}
{#            <input type="url" name="url" id="inputUrl" class="form-control" placeholder="url" required>#}
{#        </p>#}
{#        <button type="submit">Change!</button>#}
{#    </form>#}
{#    <p>#}
{#        Message : {{ info['msg'] }}#}
{#    </p>#}
{#    {% endif %}#}
{#    <a href="/home">OK!</a>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="/thumb" method="post">
                    {% if session['type'] == 'p' %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Name</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['name'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Rank</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['rank'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Wallet Address</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['wallet'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">ETH</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['eth'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                        {% else %}
                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Name</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['name'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Wallet Address</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['wallet'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">ETH</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['eth'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">State</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['state'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Type</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            {{ info['type'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Thumbnail</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:center;">
                            <img src="{{ info['thumb'] }}" alt="user-pic">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                        <input type="hidden" name="id" value="{{ info['code'] }}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Thumbnail URL</label>

                            <div class="col-sm-10">
                                <input type="text" name="url" class="form-control" required>
                            </div>
                        </div>


                        <div class="form-group-separator"></div>

                        <button type="submit" class="btn btn-info btn-single pull-right">Change</button>


{% endif %}
                    </form>


                </div>
            </div>

        </div>
    </div>
{% endblock %}