{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /refund ] refund.html</h4>#}
{#    <a href="/home">OK!</a>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">ETH</label>

                        <div class="col-sm-10">
                            <input id="eth" type="text" name="eth" class="form-control" required>
                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-single pull-right" onclick="alert('환전신청이 완료되었습니다. 환전에는 최대 1일이 소요될 수 있습니다.');jQuery('#eth').val('');">환전하기</button>

                </div>
            </div>

        </div>
    </div>
{% endblock %}