{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /signup/group ] signup_group.html</h4>#}
{#    <form action="/signup" method="post">#}
{#        <h1>Please Fill Form Inputs</h1>#}
{#        <input type="hidden" name="pg" value="g">#}
{#        <p>#}
{#            <label for="inputName" class="sr-only">Name</label>#}
{#            <input type="text" name="name" id="inputName" class="form-control" placeholder="name" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputID" class="sr-only">Code</label>#}
{#            <input type="text" name="id" id="inputID" class="form-control" placeholder="id" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputEmail" class="sr-only">E-mail</label>#}
{#            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email" value="123@123.com" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputMobile" class="sr-only">Mobile</label>#}
{#            <input type="text" name="mobile" id="inputMobile" class="form-control" placeholder="mobile" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputState" class="sr-only">State</label>#}
{#            <input type="text" name="state" id="inputState" class="form-control" placeholder="state" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <label for="inputType" class="sr-only">Type</label>#}
{#            <input type="text" name="type" id="inputType" class="form-control" placeholder="type" value="123" required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <a href="/term/1">Term1</a> Agree Term 1? <input type="checkbox" checked required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <a href="/term/2">Term2</a> Agree Term 2? <input type="checkbox" checked required>#}
{#        </p>#}
{##}
{#        <p>#}
{#            <a href="/term/3">Term3</a> Agree Term 3? <input type="checkbox" checked required>#}
{#        </p>#}
{##}
{##}
{#        <button type="submit">Sign up</button>#}
{##}
{#        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>#}
{##}
{#    </form>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Fill Form Inputs</h3>
                </div>
                <div class="panel-body">

                    <form role="form" class="form-horizontal" action="/signup" method="post">
                        <input type="hidden" name="pg" value="g">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Name</label>

                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Code</label>

                            <div class="col-sm-10">
                                <input type="text" name="id" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">E-mail</label>

                            <div class="col-sm-10">
                                <input type="text" name="email" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group-separator"></div><div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Mobile</label>
                            <div class="col-sm-10">
                                 <div class="input-group">
                                    <input type="text" name="mobile" class="form-control no-right-border form-focus-purple" required>

                                    <span class="input-group-btn">
                                        <a href="/signup/confirm" target="_blank">
                                            <button class="btn btn-purple" type="button">Confirm Mobile</button>
                                        </a>

                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">State</label>

                            <div class="col-sm-10">
                                <input type="text" name="state" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Type</label>

                            <div class="col-sm-10">
                                <input type="text" name="type" class="form-control" required>
                            </div>
                        </div>


                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Terms</label>

                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" required>
                                        Agree Term 1?&nbsp&nbsp<a href="/term/1" target="_blank"><span class="label label-info" data-toggle="tooltip" data-placement="left" title="" data-original-title="View Term1">Term1</span></a>
                                    </label>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" required>
                                        Agree Term 2?&nbsp&nbsp<a href="/term/2" target="_blank"><span class="label label-info" data-toggle="tooltip" data-placement="left" title="" data-original-title="View Term2">Term2</span></a>
                                    </label>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" required>
                                        Agree Term 3?&nbsp&nbsp<a href="/term/3" target="_blank"><span class="label label-info" data-toggle="tooltip" data-placement="left" title="" data-original-title="View Term3">Term3</span></a>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group-separator"></div>

                        <button type="submit" class="btn btn-info btn-single pull-right">Sign up</button>

                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}