{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /signup ] signup_type.html</h4>#}
{#    <h1>Please Select Type</h1>#}
{##}
{#    <a href="/signup/person">Person</a>#}
{#    <a href="/signup/group">Group</a>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% block content %}
<div class="col-md-12">


					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center;">Please Select Type</div>
						<div class="panel-body" style="width: 40%;margin-right: auto;margin-left: auto;">
                            <a href="/signup/person">
                                <button class="btn btn-info btn-lg" style="width:100%">
                                    <span>Person</span>
                                </button>
                            </a>
                            <a href="/signup/group">
                                <button class="btn btn-info btn-lg" style="width:100%">
                                <span>Group</span>
                                </button>
                            </a>
						</div>
					</div>

				</div>
{% endblock %}