{#<html>#}
{#<body>#}
{#    <h1>Volun Chain</h1>#}
{#    <h4>[ /view_code ] view_code.html</h4>#}
{#    {% if codes %}#}
{#    <p>#}
{#        Seed : {{ codes['seed'] }}#}
{#    </p>#}
{#    <p>#}
{#        Wallet Address : {{ codes['wallet'] }}#}
{#    </p>#}
{#    <p>#}
{#        Private Key : {{ codes['private'] }}#}
{#    </p>#}
{#    {% else %}#}
{#    <h1>Wrong Access</h1>#}
{#    {% endif %}#}
{#    <a href="/signup/welcome">OK!</a>#}
{#</body>#}
{#</html>#}
{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Seed</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ codes['seed'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Wallet Address</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ codes['wallet'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Private Key</label>

                        <div class="col-sm-10 control-label" style="color:black;text-align:left;">
                            {{ codes['private'] }}
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                    </form>

                    <a href="/signup/welcome">
                        <button type="button" class="btn btn-info btn-single pull-right">OK!</button>
                    </a>

                </div>
            </div>

        </div>
    </div>
{% endblock %}